<!DOCTYPE html>
<html>
<head>
  <title>Testhero</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">Heroku Test 2</a>
    </div>
<ul class="nav navbar-nav">
      <li class="active">
      <%= link_to "Home", root_path %>
      </li>
      <% if user_signed_in? %>
      <li>
          <%= link_to "New Item", new_pin_path %>
      </li>
      <%end%>
</ul>

<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
	      <li class="navbar-text" >Hello, <%= current_user.email %></li>
        <li><%= link_to(edit_user_registration_path) do %>
          <span class="glyphicon glyphicon-user"></span> Account
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, data: { confirm: 'Are you certain you want sign out?' }, :method => :delete, class: "signout" do %>
            <span class="glyphicon glyphicon-log-out"></span> Sign Out
        <% end %> 
        </li>
  <% else %>
        <li>
          <%= link_to(edit_user_registration_path) do %>
          <span class="glyphicon glyphicon-log-in"></span> Sign In
          <% end %>
        </li>
        <li>
            <%= link_to(new_user_registration_path) do %>
            <span class="glyphicon glyphicon-ok-sign"></span> Registration
            <% end %>
        </li>
  </ul>

    <%end%>
</div>

</nav>
<%= yield %>
</div>

</body>
</html>



