<!DOCTYPE html>
<html>
<head>
  <title>Testhero</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<div>
<% if user_signed_in? %>
Hello, <%= current_user.email %> | <%= link_to  'Sign Out', destroy_user_session_path, :class => "signout", data: { confirm: 'Are you certain you want sign out?' }, :method => :delete %>
<% else %>
	 <%= link_to  'Sign In', new_user_session_path, :class => "signup" %> | <%= link_to  'Registration',  new_user_registration_path, :class => "signup" %>
<%end%>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</div>

</body>
</html>
