<!DOCTYPE html>
<html>
<head>
  <title>Testhero</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default navbar-static-top">
<div class="container-fluid">
<div class="navbar-header">
      <a class="navbar-brand" href="#">Test heroku</a>
</div>
<ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
	<% if user_signed_in? %>
      <li class="navbar-text" >Hello, <%= current_user.email %></li>
      <li>
  <%= link_to destroy_user_session_path, data: { confirm: 'Are you certain you want sign out?' }, :method => :delete, class: "signout" do %>
    <span class="glyphicon glyphicon-user"></span> Sign Out
<% end %> 
</li>
<% else %>
<li><%= link_to(new_user_session_path) do %>
  <span class="glyphicon glyphicon-user"></span> Sign In
<% end %></li>
<li><%= link_to(new_user_registration_path) do %>
  <span class="glyphicon glyphicon-user"></span> Registration
<% end %></li>
    </ul>
    <%end%>
</div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>



